
<h1>Filtros</h1>
<div class="row mb-4">
    <div class="col-md-4">
      <select class="form-select" aria-label="Filtrar por Clasificación">
        <option selected>Clasificación</option>
        <option value="log">Log</option>
        <option value="warn">Warn</option>
        <option value="error">Error</option>
      </select>
    </div>
    <div class="col-md-4">
      <select class="form-select" aria-label="Filtrar por Empleado">
        <option selected>Empleado</option>
     
      </select>
    </div>
    <div class="col-md-4">
      <select class="form-select" aria-label="Filtrar por Cliente">
        <option selected>Cliente</option>
    
      </select>
    </div>
  </div>
